@charset "UTF-8";

h1{
text-align: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.a{
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    border: 10px solid black;
    text-align: center;
}
button{
    background-color: black;
    color: aliceblue;
    border: solid 1px white;
    border-radius: 10px;
}